<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <title>SDT-54</title>
</head>

<body>


    <header class="header ">
        <div class="header__logo ">
            <img class="header__logo-img " src="assets/image/Image20210825230039.png " alt="SDT-54 ">
        </div>

        <div class="header__menu-mobile ">
            <button id="menu" type="button">
                <img src="assets/image/menu-button_icon-icons.com_72989 (1).svg " alt=" ">
            </button>
        </div>

        <div class="header__menu ">
            <nav class="header__menu-navigate ">

                <ul class="navigate ">
                    <li class="navigate__item ">
                        <a class="navigate__item-link " href="index.html"><i class="fas fa-percentage "></i> Акции</a>
                    </li>
                    <li class="navigate__item ">
                        <a class="navigate__item-link " href="catalog.html"><i class="fas fa-th-list "></i> Каталог</a>
                    </li>
                    <li class="navigate__item ">
                        <a class="navigate__item-link " href="contact.html"><i class="fas fa-file-signature "></i> Контакты</a>
                    </li>
                    <li class="navigate__item ">
                        <a class="navigate__item-link " href="login.html"><i class="fas fa-door-open "></i> Вход</a>
                    </li>
                </ul>

            </nav>
        </div>
    </header>

    <!-- Мобильное меню -->
    <section id="navigate" class="navigate">
        <ul class="navigate__mobile">
            <li class="navigate__mobile-item">
                <a class="navigate__mobile-link" href="# "><i class="fas fa-percentage "></i> Акции</a>
            </li>
            <li class="navigate__mobile-item">
                <a class="navigate__mobile-link" href="# "><i class="fas fa-th-list "></i> Каталог</a>
            </li>
            <li class="navigate__mobile-item">
                <a class="navigate__mobile-link" href="# "><i class="fas fa-file-signature "></i> Контакты</a>
            </li>
            <li class="navigate__mobile-item">
                <a class="navigate__mobile-link" href="# "><i class="fas fa-door-open "></i> Вход</a>
            </li>
        </ul>
    </section>
    <!-- END -->


    <main>
        <div class="block">
            <div class="block__content mt-3">
                <div class="block__content-title mt-3">
                    <h3>Название</h3>
                </div>

                <div class="block__content-image">
                    <img src="https://github.com/Mironov-V/SDT-54/blob/main/media/400.jpg?raw=true" alt="title">
                </div>

                <h3>12000</h3>
                <p>Толщина: 9999</p>
                <div class="block__content-description">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus magni deserunt praesentium consectetur incidunt quo ipsa ea aut! Perferendis aspernatur magnam minus laborum quis officia odio sequi ipsa culpa ipsam.</p>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer__item">
            <div class="footer__item-text">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, neque sapiente. Repellendus earum, placeat illo enim odit nulla. Esse consequatur aspernatur pariatur magnam, expedita consequuntur cupiditate enim eligendi repudiandae nesciunt?
                </p>
            </div>
        </div>

        <div class="footer__item d-n">
            <div class="footer__item-menu">
                <ul class="navigate__mobile">
                    <li class="navigate__mobile-item">
                        <a class="navigate__mobile-link" href="# "><i class="fas fa-percentage "></i> Акции</a>
                    </li>
                    <li class="navigate__mobile-item">
                        <a class="navigate__mobile-link" href="# "><i class="fas fa-th-list "></i> Каталог</a>
                    </li>
                    <li class="navigate__mobile-item">
                        <a class="navigate__mobile-link" href="# "><i class="fas fa-file-signature "></i> Контакты</a>
                    </li>
                    <li class="navigate__mobile-item">
                        <a class="navigate__mobile-link" href="# "><i class="fas fa-door-open "></i> Вход</a>
                    </li>
                </ul>
            </div>
        </div>

    </footer>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj " crossorigin="anonymous "></script>

    <!-- Menu.js -->
    <script type="text/javascript" src="assets/scripts/js/menu.js"></script>


</body>

</html>